:root {
  --text-dark-color: #000;
  --dominate-color: #fffeff;
  --seconday-color: #006992;
  --accent-color: #eca400;
}

dialog {
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 40px 0;
  animation: dialoganimation ease-in-out 300ms;
}

@keyframes dialoganimation {
  0% {
    filter: opacity(0%);
  }

  100% {
    filter: opacity(100%);
  }
}

dialog::backdrop {
  background-color: #00000050;
}

dialog input {
  padding: 1rem 5rem;
  border: 4px solid var(--seconday-color);
  margin-bottom: 1rem;
  border-radius: 40px;
}

dialog input::placeholder {
  color: var(--seconday-color);
  text-align: center;
  font-size: larger;
}
