:root {
  --text-dark-color: #000;
  --dominate-color: #fffeff;
  --seconday-color: #006992;
  --accent-color: #eca400;
}

footer p {
  align-self: center;
}

footer {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: var(--seconday-color);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  color: var(--dominate-color);
  width: 100%;
}

@media (width<=720px) {
  footer {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
