@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("nav.css");

@import url("todocontent.css");

@import url("sidnav.css");

@import url("new_project_creator_dialog.css");

@import url("footer.css");

@import url("todo_creator_dialog.css");

/* general */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --text-dark-color: #000;
  --dominate-color: #fffeff;
  --seconday-color: #006992;
  --accent-color: #eca400;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10fr 0.5fr;
  max-width: 100%;
  min-height: 100vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}

button {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  outline: none;
  border: 0;
  text-transform: capitalize;
  background-color: var(--seconday-color);
  color: var(--dominate-color);
  margin: 1rem;
  transition: all ease-in-out 300ms;
}

button:hover {
  background-color: var(--accent-color);
}

hr {
  width: 100%;
}

dialog {
  padding: 1rem;
  border-radius: 0 0 40px 0;
}

dialog .container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

dialog::backdrop {
  background-color: #00000050;
}

dialog input {
  padding: 1rem 5rem;
  border: 4px solid var(--seconday-color);
  margin-bottom: 1rem;
  border-radius: 40px;
}

dialog button.cancel_creation_of_todo:hover,
dialog button.cancel:hover {
  background-color: rgb(196, 1, 1);
}

dialog input::placeholder {
  color: var(--seconday-color);
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

/* styles used by javascript */
.notFiledInput {
  border: 3px solid red !important;
}

/* Responsiveness */

@media (width<=720px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    max-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
  }
}

@media (width<=1286px) {
  button {
    font-size: 14px;
    padding: 0.8rem 1.5rem;
  }
}
