:root {
  --text-dark-color: #000;
  --dominate-color: #fffeff;
  --seconday-color: #006992;
  --accent-color: #eca400;
}

/* sidenav */

.sidenav {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #aaa;
  justify-items: center;
  align-items: center;
}

.sidenav .projectlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav .buttons button {
  margin: 0;
}

.sidenav .buttons button.createprojects {
  border-radius: 100px 0 0 0;
}

.sidenav .buttons button.delete_projects {
  border-radius: 0 100px 0 0;
}

.sidenav .buttons button.delete_projects:hover {
  background-color: red;
}

@media (width<=720px) {
  .sidenav {
    width: 100%;
  }
}
